ZHIDA_AI_ENABLED=false
ZHIDA_SUMMARY_ENABLED=true
DEEPSEEK_API_KEY=
TAVILY_API_KEY=
SERVER_PORT=8080
ZHIDA_TASK_TIMEOUT_SECONDS=90
ZHIDA_MAX_TOOL_CALLS=8
ZHIDA_PERSISTENCE_ENABLED=false
ZHIDA_AUTH_ENABLED=false
ZHIDA_JWT_SECRET=
ZHIDA_DAILY_LIMIT=100
ZHIDA_GUEST_DAILY_LIMIT=5
DB_URL=jdbc:mysql://127.0.0.1:3306/zhida_agent?characterEncoding=UTF-8&serverTimezone=UTC
DB_USERNAME=zhida
DB_PASSWORD=
